<ul>
  <% @destinations.each do |dest| %>
    <li>
      <div><%= dest.city %></div>
      <div><%= dest.country %></div>
      <div><%= dest.currency %></div>
      <div><%= dest.weather %></div>
    </li>
  <% end %>
</ul>
<%= render 'weather_cards/form_type' %>
