<!DOCTYPE html>
<html>
  <head>
    <title>Weather Destination</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <%= link_to 'Weather Destination', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Destinations', destinations_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Vacations', vacations_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <% if Current.user %>
            <li class="nav-item">
              <%= link_to "Hi, #{Current.user.email}", logout_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Out', logout_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item <%= active_class(sign_in_path) %>">
              <%= link_to 'Sign In', sign_in_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(sign_in_path) %>">
              <%= link_to 'Sign Up', sign_in_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="py-5 container">
      <div id="flash-message">
        <%= render 'shared/flash' %>
      </div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
